
@import url("https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

@import url(./layout/container.css);
@import url(./layout/menu-container.css);
@import url(./layout/area-content.css);
@import url(../css/layout/icon.css);
@import url(./layout/main-content.css);

@import url(../css/layout/popup.css);
@import url(../css/layout/table.css);
/* 
@font-face {
    font-family: MISA Fonts Regular;
    src: url(../assets/font/GoogleSans-Regular.otf);
}

@font-face {
    font-family: MISA Fonts Bold;
    src: url(../assets/font/GoogleSans-Bold.otf);
}

@font-face {
    font-family: MISA Fonts Italic;
    src: url(../assets/font/GoogleSans-Italic.otf);
} */

[notvalid] {
    border: 1px solid #ff4747;
}